// Simple Gallery

.img {
    width: 315px;
    height: 200px;
    float: left;
    margin: 5px 5px 0 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.large-image {
    width: 650px;
    height: 405px;
}

.hidden {
    display: none;
}

// Project Detail

.list-img {
    padding: 50px 0 0 100px;
    content: "";
    display: table;
    clear: both;
}

.info-detail {
    background: red;
    margin-top: 100px;
}
