@import url('https://fonts.cdnfonts.com/css/just-me-again-down-here-2');

.main {
    top: 0;
    left: 0;
    height: 1222px;
    width: 100%;
    z-index: -1;
    opacity: 2;
    position: absolute;
}

.header {
    padding: 9.5px 12px;
}

.title {
    color: white;
    text-align: center;
    margin-top: 77px;
    font-size: 48px;
    font-family: 'Just Me Again Down Here', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 7.2px;
}

.title-right {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-left: 1300px;
    margin-top: -30px;

    .login-button {
        width: 110px;
        height: 42px;
        border: 2px solid #FFF;
        background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.82) 0.01%, rgba(244, 244, 244, 0.00) 0.02%, rgba(244, 244, 244, 0.00) 100%);
        font-size: 18px;
        color: white;
    }

    .register-op {
        color: #FFF;
        font-family: Pontano Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.5px;
        cursor: pointer;
    }

}

.line {
    width: 1524px;
    height: 1px;
    background-color: white;
    margin-left: 190px;
    margin-top: 23px;
}

.option {
    display: flex;
    text-align: center;
    gap: 59px;
    margin-left: 630px;
    font-size: 26px;
    color: white;
    padding: 10px;
    font-family: 'Pontano Sans';

    a {
        color: #FFF;

        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Pontano Sans;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 33.8px */
        letter-spacing: 1.3px;
    }

    a:hover {
        text-decoration: underline;
        line-height: 0.75;

    }
}

.slogan {
    width: 487px;
    display: flex;
    text-align: center;
    /* align-items: center; */
    margin-left: 700px;
    margin-top: 230px;

    span {
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Just Me Again Down Here;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* 23.4px */
        letter-spacing: 2.7px;

    }

}

.header-img {
    width: 100%;
    height: 600px;
    object-fit: fill;
}

//Top Resort


.list-box {
    display: grid;
    height: 600px;
    grid-gap: 36px;

}

.list-box2 {}

.body {
    h1 {
        margin-top: 30px;
        color: #000;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: -60px;
        margin-left: 847px;
    }
}

//FOOTER
.footer-wrapper {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    background-color: #E8E8E8;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    margin-top: 100px;

}

.navigation-2 {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    margin-left: 70px;
    font-weight: 400;
    width: 100%;
    height: 662px;
    font-family: Roboto;




}


// .footer-item {
//     border-bottom: 1px solid #fff;
// }

.social-item {
    display: flex;
    gap: 10px;
}

.box-contact {
    margin-top: 40px;

    .contact-item+.contact-item {
        margin-top: 11px;
    }
}

.contact-item {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
}

.nav-item+.nav-item {
    margin-top: 8px;
}

.nav-item {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    margin-top: 20px;
    cursor: pointer;
}

.icon-item {
    font-size: 30px;
    font-weight: 700;

}

.box-contact {
    cursor: pointer;
}

.title-item {
    font-size: 30px;
    font-weight: 700;

}

.contact-item1 {
    text-decoration-line: underline;
}

.img-footer {
    width: 120px;
    height: auto;
}

p {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    height: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: Roboto;
    font-size: 20px;
}

.nav-item1 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    margin-top: 109px;

}

.nav-item2 {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    margin-top: 34px;

}

.nav-item-rentals {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    margin-top: 109px;

}

.rentals {
    display: flex;
    text-align: center;
    /* justify-content: end; */
    margin-left: 355px;
    margin-bottom: -100px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    margin-top: 50px;
}

.footer-text {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-left: 660px;
    margin-top: 620px;
    gap: 25px;

    .a1 {
        color: #1877F2;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
    }
    .a1:hover{
        text-decoration: underline;
    }
}