.wrapper {
    // background: red;
    border-radius: 8px;
    padding: 30px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    padding-bottom: 30px;
    height: 1000px;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.row {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 20px;
}
