.user-info {
  display: flex;
  margin-top: 20px;
}

.volt8A {
  display: flex;
  justify-content: center;
}
.left-content{
    filter: drop-shadow(0 0 0.75rem rgb(202, 202, 202));
}
.general-text{
    font-weight: 400;
    font-size: 3.5rem;
    font-family: "Roboto",sans-serif;
    margin-bottom: 30px;
    margin-top: 120px;
}
.input {
  padding: 22px 5px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(165, 165, 165);
  height: 1px;
  width: 320px;
  border: 0.5px solid rgba(210, 210, 210, 0.41);
}
.full-name {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.form-control {
  width: 320px;
  height: 46px;
  border: 0.5px solid rgba(210, 210, 210, 0.41);
}
.address-content {
    margin-top: 30px;
  .address-info {
    display: grid;
    .full-name{

    }
    .address-input{
        padding: 22px 5px;
        width: 96%;
        height: 46px;
        border: 0.5px solid rgba(210, 210, 210, 0.41);
    }
  }
  .bank-info{
    margin-top: 20px ;
    .full-name{

    }
    .bank-input{
        width: 96%;
        height: 46px;
        border: 0.5px solid rgba(210, 210, 210, 0.41);
        padding: 22px 5px;
    }
  }
}
.button{
    margin-top: 40px;
    width: 140px;
    height: 50px;
    font-size: 2rem;
    text-wrap: nowrap;
    border: none;
    background-color:orange;
    color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}
//Right content
.right-content {
  background-color: #EDF9F9  ;
  width: 400px;
  border-radius: 8px;
  .user-img{
    display: flex;
    align-items: center ;
    margin-top: 50px;
    flex-direction: column;
    .box-img{
        border-radius: 50%;
        width: 60%;
        height: 60%;
    }
    .right-content{
        display: grid;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        row-gap: 5px;
        .box-name{
            font-family: "Roboto",sans-serif;
            font-weight: 500; 
            font-size: 2rem;  
        }
        .box-email{
            font-family: "Roboto", sans-serif;
        }
        .box-add{
            font-family: "Roboto", sans-serif;
            color: rgb(138, 138, 138) ;
        }
    }
  }
}
